.container {
  height: 100%;
  margin-left: 20%;
  display: flex;
  align-items: center;
}

.big-text {
  font-size: 56px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
}

.big-text>.secondary {
  color: var(--primary);
}

.homepage-link {
  color: var(--light);
  text-decoration: none;
}

.homepage-link:hover {
  opacity: 0.5;
}