.container {
  height: 100%;
  margin-left: 20%;
  display: flex;
  align-items: center;
}

.big-text {
  font-size: 56px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
}

.big-text>.secondary {
  color: #698BF5;
}