.section-title {
  display: flex;
  align-items: center;
  color: #f8f8ff;
}

.section-title-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.section-title-text {
  font-size: 18px;
  font-weight: bold;
}