.right-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 70%;
  background: var(--light);
  color: var(--dark);
}

.experience-section {
  width: 92%;
  margin: 0 auto;
  margin-top: 24px;
}

.education-section {
  width: 92%;
  margin: 0 auto;
  margin-top: 24px;
}

.language-section {
  width: 92%;
  margin: 0 auto;
  margin-top: 24px;
}

.language-content {
  padding-left: 16px;
  padding-top: 16px;
}

.language-flag {
  width: 40px;
}

.language-flag:not(:last-child) {
  margin-right: 16px;
}

@media screen and (max-width: 878px) {
  .right-column {
    width: 100%;
  }

  .right-presentation-card {
    display: none;
  }

  .language-section {
    margin-top: 24px;
    padding-bottom: 24px;
  }
}
