.resume-container {
  color: black;
  height: 100%;
  background-color: var(--light);
  padding: 120px 0;
  overflow: hidden;
}

.resume-animated {
  margin: 0 auto;
  height: 1240px;
  width: 876px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  display: flex;
}

.resume {
  display: none;
}

.resume:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 878px) {
  .resume-container {
    padding: 0;
  }

  .resume-animated {
    display: none;
  }

  .resume {
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .resume-container * {
    visibility: hidden;
  }

  .resume * {
    visibility: visible;
  }

  .resume {
    position: absolute;
  }
}