.historical-list {
  margin-top: 16px;
  padding-left: 16px;
}

.historical-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.historical-list-item-info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.historical-list-item-info-primary {
  font-weight: bold;
  color: var(--primary);
  margin-right: 8px;
}

.historical-list-item-info-secondary {
  font-weight: bold;
}

.historical-list-item-info-optional {
  font-size: 14px;
  opacity: 0.6;
  font-style: italic;
}

.historical-list-item-description {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  text-align: justify;
}
