.historical-list {
  margin-top: 12px;
  padding-left: 8px;
}

.historical-list-item:not(:last-child) {
  margin-bottom: 14px;
}

.historical-list-item-info {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.historical-list-item-info-primary {
  font-weight: bold;
  color: var(--primary);
  margin-right: 8px;
}

.historical-list-item-info-secondary {
  font-weight: bold;
}

.historical-list-item-info-optional {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.6;
  font-style: italic;
}

.historical-list-item-description {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 22px;
}

.historical-list-item-products {
  margin-top: 8px;
  font-size: 12px;
}

.historical-list-item-products-title {
  font-weight: bold;
}

.historical-list-item-products-link {
  text-decoration: none;
  color: inherit;
}

.historical-list-item-products-link:hover {
  opacity: 0.5;
}
