.presentation-card {
  width: 96%;
  height: 10%;
  padding: 16px 0;
  background: var(--dark);
  color: var(--light);
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.presentation-card-name {
  font-size: 100%;
  font-family: inherit;
  margin-bottom: 0;
  font-size: 42px;
  font-weight: bold;
}

.presentation-card-title {
  font-size: 23px;
}
